
.search{
    width: 100%;
    padding: 0 auto;
    text-align: center;
    z-index: 31;
}

.search-field{
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(191 234 252);
    background-color: #f8f9fa;
    border-radius: 10px;
    font-size: 13px;
    padding: 8px 8px;
    
}

.suggestion-list{    
    position: fixed;
    height:380px;
    padding:10px 0px;
    background: #fafafa;    
    border-radius: 10px;
    border: 1px solid #b15e7c;
    opacity: 1;
    transition: opacity 1s;
    
    
}

.suggestion-list-content{
    height: 100%;
    overflow-y: auto;
    padding:0px 10px;
}

.suggestion-list.hide-suggestion{
    opacity: 0;
    top: -450px !important;
}


.search-btn{
    display: none;
}

#token-search{
    width: 100%;
}


.backdrop{
    backdrop-filter: blur(1.2px);
    background-color: rgba(16,23,34,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    /* z-index: 30; */
}
@media(max-width:1238px){
    #token-search{
        width: auto;
    }
    .search{
        display: none;
    }
    .search.open{
        display: block;
        position: fixed;
        top:5px;
        left:0px;
        width: 100%;
        z-index: 1055;
    }

    .search.open .search-field{
        max-width: 100%;
        border-radius: 0px;
    }

    .suggestion-list{
        border-radius: 0px;
    }
    .search-btn{
        display: inline-block;
    }
}

.suggestion-list .filtered-token-item{
    margin-top: 1px;

}

.suggestion-list .token-logo{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.suggestion-list .token-name{
    padding: 0px;
    font-family: Poppins;
    font-size: 13px;
    color:black;
    display: flex;
    align-items: flex-end;
}

.suggestion-list .token-symbol{
    padding: 0px;
    font-family: Poppins;
    font-size: 11px;
    display: flex;
    align-items: flex-start;
}

.suggestion-list .token-platform{
    font-family: Poppins;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 5px;
    border:0px;
}

.token-platform.BSC{
    background-color: #f4e6ea;
    color: orange;
}

.token-platform.Polygon{
    background-color: #f4d7f9;
    color: rgb(161 23 179);
}

.token-platform.Ethereum{
    background-color: #d9d9d9b0;
    color: rgb(70 70 70)
}

.suggestion-list .token-price{
    font-family: Poppins;
    font-size: 12px;
    margin-right: 20px;
    color:black;
}

.category-bar{
    width:100%;
    text-align: left;
    margin-bottom: 5px;
}
.suggestion-category{
    background-color: white;
    border: 0px;
    font-family: 'Poppins';
    border-radius: 8px;
    font-size: 13px;
    padding: 5px 8px;
}

.suggestion-category.active{
    background-color: #e5d4d9;
    color:#46242e;
}