

.star-toggle-button{
    background-color: transparent;
    border: 1px solid #7e859f;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-toggle-button:hover{
    background-color: #f4e6ea;
}


.star-toggle-noline-btn{
    font-size: 17px;
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
