.marquee-bar{
    border-radius: 7px;
}
.coin-item {
    width: 120px;
    background: #FFFFFF;
    border: 0.5px solid rgba(53, 196, 255, 0.3);
    box-sizing: border-box;
    border-radius: 7px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #23262F;
}

.pair-card {
    height: 81px;
    background: #F4F9FE;
    border-radius: 12px;
    padding: 14px 18px 16px 14px;
}

.pair-card .action {
    width: 20px;
    height: 20px;
    font-size: 10px;
    border: 1px solid #E6E8EC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777E91;
}

.pair-card .value {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}

.pair-card .value.text-success{
    color:#00C076 !important;
}

.pair-card .value.text-danger{
    color:#FF5757 !important;
}

.pair-card .token-pair {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #141416;
    display: flex;
}

.pair-card .token-pair .badge {
    width: 32.14px;
    height: 16.79px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16.7143px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 14px;
    color: #FCFCFD;
}

.pair-card .token-pair .badge.bg-success
{
    background:#00C076 !important;
}

.pair-card .token-pair .badge.bg-danger
{
    background: #FF5757 !important;
}
.pair-detail-card {
    width: 100%;
    min-height: 81px;
    background: #F4F9FE;
    border-radius: 12px;
    padding: 14px 18px 16px 14px;
}

@media(max-width:768px){
    .pair-detail-item{
        display: flex;
        justify-content: space-between;
        padding: 7px 7px;
    }
}
.pair-detail-item-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    text-align: center;
}

.pair-detail-item-value {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.pair-detail-item .text-success {
    color: #00C076 !important;
}

.trading-view-filter {
    min-height: 75.53px;
    /* background: #f4f9fe; */
    border-radius: 12px 12px 0px 0px;
    padding: 20px;
}

.trading-filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6.84868px 13.6974px;
    border-radius: 114.145px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    color: #777E91;
    border: 0px;
}

.trading-filter-btn.active {
    background: #35C4FF;
    color: #FFFFFF;
}

.trading-subnav {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #777E91;
}

.trading-subnav.active {
    color: #35C4FF;
}

.x-divider {
    border-right: 1px solid #E6E8EC;
}

@media(max-width:768px){
    .x-divider {
        border-right: none;
        border-bottom: 1px solid #E6E8EC;
    }
}

.nav-pills .nav-link{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px;
    border: 0px;
    margin-top: 5px;
    padding: 6.84868px 8px;
    background: transparent;
    color: #807e91;
    margin-right: 0px !important;
}

.nav-pills .nav-link.active{
    background: #35c4ff;
}