
.composition-image {
    height: 163px;
    background: #F4E6EA;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.composition-back1{
    background: #F4E6EA;
}

.composition-back2{
    background: #E6E8EC;
}

.composition-back3{
    background: #CADBE0;
}

.composition-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #23262F;
}

.composition-ads {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9.94737px;
    line-height: 17px;
    color: #777E91;
}

.coin-martketcap-intro-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #000000;
}

.coin-martketcap-intro-title small {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    color: #00000069;
}

.coin-marketcap-info-item {
    height: 156px;
    padding: 19px 22px;
    background: #F4F9FE;
    border-radius: 12px;
}

.coin-marketcap-info-item .info-view-more {
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    text-align: right;
    color: #777E90;
}

.coin-marketcap-info-item .info-item-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-transform: capitalize;
    color: #000000;
}

.coin-marketcap-info-item .info-item-opt-title {
    display: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    /* or 155% */
    /* Neutrals/2 */
    color: #23262F;
}

.coin-marketcap-info-item .info-item-opt-value {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    /* identical to box height, or 218% */
    text-align: right;
}

.coin-sort-btn {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #777E91;
}

.coin-sort-btn.active {
    background: #35C4FF;
    border-radius: 100px;
    color: #fff;
}

.time-sort-btn {
    min-width: 120px;
    padding: 10px 20px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #23262F;
    border: 2px solid #E5E5E5;
    border-radius: 100px;
}

.search-input {
    width: 200px;
    padding: 10px 20px;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

@media(max-width:768px){
    .search-input{
        width:100%;
    }

    .time-sort-btn{
        width: 100%;
        justify-content: center;
    }
}

.ranking-img{
    width: 25px;
}


.table tbody tr:hover{
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}
@media(max-width:768px) {
    .justify-content-xs-center {
        justify-content: center !important;
    }
}

/*chart*/
.bCltOL{
    width: 164px;
    height: 48px;
    text-align: center;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 3px;
    filter: hue-rotate(
        300deg
    ) saturate(210%) brightness(0.7) contrast(170%);
}

.bCltOL.isUp {
    filter: hue-rotate(
        85deg
        ) saturate(80%) brightness(0.85);
}