.table th {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.table td {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.table td.text-strong {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #23262F;
}

.table td.text-strong .mark {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #777E91;
    background-color: transparent;
}

.table td.chart {
    width: 120px;
    padding: 0px;
    padding-bottom: 5px;
}

.chart div {
    min-height: 0px !important;
}

.market-trade-table tr td,
.market-trade-table tr th {
    border-top: 0px;
}

.market-trade-table.table thead th {
    border-bottom: 0px;
}

.market-trade-table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.market-trade-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F4F9FE;
}
.table th{
    border-top:0px;
    border-bottom: 0px;
}
.table thead th{
    border-bottom: 0px;    
}