.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 48px 0 0;
  transition: all 0.5s ease-out;
  background: #fff;
  border-right: 1px solid #e2e6e7;
  
}

@media(min-width:768px){
  .sidebar.sidebar-collapse{
    width: 70px;
  }
}

@media(max-width:768px){
  .sidebar.sidebar-collapse{
    width: 0px;
  }
  .sidebar-logo{
    margin-left: calc(50% - 105px) !important;
  }
}


.sidebar-brand{
  position: fixed;
  width: 279px;
  height:93px;
  padding: 15px 15px 8px;
  background-color: #fff;
}

@media(min-width:768px){
  .sidebar.sidebar-collapse .sidebar-brand{
    width: 280px;
  }
}

@media(max-width:768px){
  .sidebar .sidebar-brand{
    width: 100%;
  }
}

.side-collapsible{
  width: 30px;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.side-collapsible svg{
  width: 30px;
}


.side-icon{
  font-size: 23px;
}

.sidebar-sticky {
  /* width: 70px; */
  margin-top: 93px;
  height: calc(100vh - 180px);
  overflow-x: hidden;
  overflow-y: auto;
  
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
  }
}


.sidebar .nav .nav-item {
  height: 32px;
  margin: 12px 20px;
  display: flex;
  align-items: center;
}

.sidebar .nav .nav-item .nav-link {  
  width: 100%;
  padding:10px 15px;
  border-radius: 5px;
  font-family:"Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #777E91;
}

.sidebar .nav .nav-item .nav-link a{
  color:inherit;
  text-decoration: none;
}

.sidebar.sidebar-collapse .nav .nav-item .nav-link {
  padding: 10px 5px;
  width: 30px;
}

.sidebar .nav .nav-item .nav-link:hover{
  background-color: #35C4FF;
  color:#fff;
}
.sidebar .nav .nav-item.active .nav-link {
  background-color: #35C4FF;
  color:#fff;
}

.sidebar .submenu{
  
  margin: 5px 10px;
  border-radius: 20px;
  padding: 0px;
  list-style: none;
}
.sidebar .submenu .submenu-item {
  padding: 5px 10px 5px 30px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #777E91;
}
.sidebar .submenu .submenu-item.active {
  color: #35C4FF;
}
.sidebar .footer-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
}

.setting-section{
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: inset 0 0 30px 3px #fef8f8;
  display: none;
}

@media(max-width:1028px){
  .setting-section{
    display: flex;
  }
}

.network-logo{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.network-dropdown-body{
  background: #f4e6ea;
  border: 1px solid #e1b5c1;
}

.switch-network-btn{
  background-color: #f8f9fa !important;
  color: #232636 !important;
  border:0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.setting-btn{
  background-color: transparent !important;
  border:0px;
  font-size: 24px;
  color:#649db9;
}

.social-links a{
  color:#7e859f;
}

