.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    background-color: #FFF9F9 !important;
    border-radius: 4px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 93px);
    padding-top: 130px !important;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav .nav-item {
    height: 52px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.sidebar .nav .nav-item.active {
    background-color: #F4F9FE;
}

.sidebar .nav .nav-item .nav-link {
    padding: 5px 10px 5px 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #777E91;
}

.sidebar .nav .nav-item.active .nav-link {
    color: #35C4FF;
}

.sidebar .footer-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
}