/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}
a,
.button{
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

body {
	line-height: 1.8;
	/*font-family: 'DM Sans', sans-serif;*/
    font-family: 'Inter', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
	background-color: #fff;
	font-size: 16px;
	color: #777E90;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus{
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6{
	font-family: 'Poppins', sans-serif;
}

/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.loader3 {
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #35C4FF;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	        transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	        transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}
/*Hamburger-menu START CSS*/
.hamburger-menu{
	display: none;
}
.hamburger-menu span {
	background: #35C4FF;
	width: 30px;
	height: 3px;
	display: block;
	margin: 5px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hamburger-menu:hover .line-top {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.hamburger-menu:hover .line-bottom {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(200%) rotate(135deg);
	-ms-transform: translateY(200%) rotate(135deg);
	transform: translateY(200%) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-325%) rotate(-135deg);
	-ms-transform: translateY(-325%) rotate(-135deg);
	transform: translateY(-325%) rotate(-135deg);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 93px;
	z-index: 1024;
	width: 100%;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
	background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);

}

/*sticky START CSS*/
header.sticky {
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}
.menu_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.logo_box{
	border-right: 1px solid #E6E8EC;
	padding-right: 55px;
	margin-right: 55px;
}
#menu li {
	padding-right: 80px;
	display: inline-block;
}
#menu li a {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.14;
	color: #777E91;
	padding: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	position: relative;
}
#menu li a span {
    position: absolute;
    bottom: -13px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #777E91;
    display: inline-block;
    width: 100%;
    font-weight: 400;
}
#menu li:last-child{
	padding-right: 0;
}
#menu>li>a.active,
#menu>li>a:hover {
	color: #35C4FF;
}
.header_btn{
	text-align: right;
}
.header_btn .button{
	font-family: 'DM Sans', sans-serif;
}
.button{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	color: #FCFCFD;
	display: inline-block;
	padding: 15px 23px;
	background-color: #35C4FF;
	border-radius: 90px;
	border: 1px solid #35C4FF;
}
.button:hover{
	background-color: transparent;
	color: #35C4FF;
}
/*hero area*/
.hero_wrapper {
    position: relative;
    padding-bottom: 88px;
}
.hero_shape1 {
    position: absolute;
    top: 30px;
    left: 0;
}
.hero_shape2{
	position: absolute;
	left: 0;
	bottom: 0;
}
.hero_shape5 {
    position: absolute;
    top: 0;
    left: 35%;
}
.hero_content{
	padding-top: 200px;
	position: relative;
}
.hero_shape3 {
    position: absolute;
    right: 156px;
    bottom: 20px;
}
.hero_shape4 {
    position: absolute;
    right: 27px;
    top: 88px;
}
.hero_shape6 {
    position: absolute;
    right: 0;
    bottom: -84px;
}
.hero_content h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: #23262F;
    max-width: 623px;
}
.hero_content h1 span{
	color: #FF5757;
}
.hero_content p{
	max-width: 523px;
	padding-top: 30px;
}
.hero_btn_group{
	margin-top: 45px;
}
.hero_btn_group .button{
	padding: 22px 35px;
	font-size: 16px;
	background-color: #FF5757;
	border-color: #FF5757;
}
.hero_btn_group .button1:hover{
	background-color: transparent;
	color: #FF5757;
}
.hero_btn_group .button2{
	background-color: transparent;
	color: #FF5757;
	margin-left: 10px;
}
.hero_btn_group .button2:hover{
	background-color: #FF5757;
	color: #FFFFFF;
}
.hero_img_col {
    position: absolute;
    right: -3px;
    top: 0;
    max-width: 49%;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}
.hero_img{
	padding-top: 104px;
}
.animation{
	-webkit-animation: jump 4s linear infinite;
	        animation: jump 4s linear infinite;
}
@-webkit-keyframes jump {
	0%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
	50%{
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	100%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
}
@keyframes jump {
	0%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
	50%{
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	100%{
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
}
/*end hero area*/

/*logo box1 area*/
.logo_box1_wrapper{
	padding-top: 30px;
	padding-bottom: 90px;
}
.logo_box1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.logo_box1 .logo_box1_img{
	margin-right: 90px;
}
.logo_box1 .logo_box1_img:last-child{
	margin-right: 0;
}
.partner_img img {
    filter: grayscale(1);
    cursor: pointer;
    max-width: 142px;
}
.partner_img img:hover{
	filter: grayscale(0);
}
/*end logo box1 area*/

/*tools area*/
.title{
	font-weight: 600;
	font-size: 48px;
	line-height: 1.2;
	text-align: center;
	color: #23262F;
}
.tools_wrapper{
	padding: 97px 0 97px;
	background-color: #F4F5F6;
}
.tools_heading{
	margin-bottom: 20px;
}
.tools_heading p {
    max-width: 586px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.tools_box{
	background: #FCFCFD;
    -webkit-box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
            box-shadow: 0px 27px 80px -48px rgba(15, 15, 15, 0.03);
    border-radius: 20px;
    padding: 45px 30px;
    text-align: center;
}
.tools_img {
    min-height: 135px;
}
.tools_box h4{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.2;
	color: #23262F;
	padding-top: 30px;
}
.tools_box p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    max-width: 309px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
.tools_box4 p {
    max-width: 263px;
}
.tools_btn{
	margin-top: 50px;
	text-align: center;
}
.tools_btn .button{
	padding: 22px 35px;
	font-size: 16px;
	background-color: #FF5757;
	border-color: #FF5757;
}
.tools_btn .button:hover{
	background-color: transparent;
	color: #FF5757;
}

/*tools area end*/

/* start network area */
.network_wrapper{
	position: relative;
	z-index: 1;
	padding: 130px 0 200px;
}
.network_wrapper .n_img {
    position: absolute;
    left: 46%;
    top: 30%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 51%;
}
.network_wrapper .n_shape{
	position: absolute;
	z-index: -2;
	left: 0;
	bottom: 0;
	width: 100%;
}
.network_heading{
	text-align: center;
}
.network_heading p{
	max-width: 586px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.network_box_wrapper{
	padding-top: 50px;
}
.net_work_box{
	background: rgba(244, 247, 255, 0.33);
	-webkit-backdrop-filter: blur(59px);
	        backdrop-filter: blur(59px);
	border-radius: 17px;
	border: 3px solid rgba(255, 255, 255, 0.76);
	padding: 40px;
}
.net_work_box h5{
	font-weight: 600;
	font-size: 20px;
	line-height: 1.24;
	color: #23262F
}
.net_work_box p {
    max-width: 251px;
    padding-top: 20px;
}
.net_work_box2 {
    background: rgba(81, 86, 140, 0.33);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    margin-top: 66px;
}
.net_work_box2 h5{
	color: #FFFFFF
}
.net_work_box2 p{
	color: #FFFFFF;
}
/*network area end*/

/*start token area*/
.token_wrapper {
    padding-top: 127px;
    padding-bottom: 242px;
    background-color: #F4F5F6;
}
.token_heading{
	padding-bottom: 50px;
}
.token_box{
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	padding: 50px 30px;
	min-height: 285px;
	cursor: pointer;
}
.token_box:hover .token_img{
	background-color: #FFF5F5;
}
.token_box:hover{
	background: #FCFCFD;
    -webkit-box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.token_img{
	height: 74px;
	width: 74px;
	background-color: #FFFFFF;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.token_box p {
    max-width: 227px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}
.token_box3 p{
	max-width: 263px;
}
.token_box4 p{
	max-width: 279px;
}
/*end token area*/

/* start buy area */
.buy_area_wrapper {
    margin-top: -127px;
}
.buy_banner_content{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 69px 78px 59px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);
	        box-shadow: 0px 59px 109px rgba(0, 0, 0, 0.06);
}
.buy_left_content h3{
	font-weight: 600;
	font-size: 32px;
	line-height: 1.3;
	color: #23262F;
	padding-bottom: 25px;
}
.buy_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.buy_icon{
	background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px;
}
.buy_box h4{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.01em;
	color: #23262F;
}
.buy_btn{
	text-align: right;
}
.buy_btn .button{
	background-color: #FF5757;
	border-color: #FF5757;
	padding: 25px 48px;
	font-size: 20px;
}
.buy_btn .button:hover{
	background-color: transparent;
	color: #FF5757;
}
/* end buy area */

/*start partner area*/
.partner_wrapper{
	padding: 205px 0;
}
.partner_heading{
	padding-bottom: 45px;
}
.partner_heading .title{
	color: #000000;
}
.partner_img_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	padding-top: 40px;
}
.partner_img {
    max-width: 16.66%;
    -ms-flex-preferred-size: 16.66%;
        flex-basis: 16.66%;
    text-align: center;
}
.partner_img_wrapper2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 40px;
}
.partner_img_wrapper2 .partner_img {
    margin-right: 40px;
}
.partner_img_wrapper2 .partner_img:last-child{
	margin-right: 0;
}
.partner_img_wrapper3 .partner_img{
	margin-right: 95px;
}

/*end partner area*/

/* start ecosystem banner*/
.ecosysteam_banner_wrapper{
	padding-bottom: 233px;
	padding-top: 65px;
	position: relative;
	z-index: 1;
}
.eco_shape{
	position: absolute;
	z-index: -1;
	right: 0;
	top: 0;
}
.ecosystem_banner_content{
	background: rgba(255, 255, 255, 0.58);
    -webkit-backdrop-filter: blur(59px);
            backdrop-filter: blur(59px);
    border-radius: 17px;
    padding: 88px 80px;
    border: 3px solid rgba(231, 237, 255, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ecosystem_logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.eco_logo_box{
	border-right: 1px solid rgba(255, 87, 87, 0.2);
	padding-right: 33px;
	margin-right: 33px;
}
.ecosystem_logo p{
	font-weight: 500;
    font-size: 24px;
}
.eco_btn_group{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.eco_btn_group a{
	font-size: 20px;
	color: #FCFCFD;
	background-color: #FF5757;
	padding: 25px 51px;
	border-color: #FF5757;
}
.eco_btn_group a:last-child{
	padding: 25px 57px;
	background-color: transparent;
	color: #FF5757;
	margin-left: 16px;
}
.eco_btn_group a:last-child:hover{
	color: #FCFCFD;
	background-color: #FF5757;
}
.eco_btn_group a:first-child:hover{
	background-color: transparent;
	color: #FF5757;
}
/* start ecosystem banner*/

/*start community area*/
.community_content_wrapper{
	background: #2BA6E1;
	-webkit-backdrop-filter: blur(59px);
	        backdrop-filter: blur(59px);
	border-radius: 27px;
	padding: 105px 90px 75px;
}
.community_content h3{
	font-weight: 600;
	font-size: 44px;
	line-height: 1.2;
	color: #FFFFFF;
}
.community_content p{
	color: #FFFFFF;
	padding-top: 20px;
}
.bg_btn{
	padding-top: 45px;
}
.bg_btn .button {
    padding: 18px 8px 18px 70px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    color: #2BA6E1;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    width: 350px;
    height: 73px;
}
.bg_btn .button img{
	margin-left: 15px;
}
.bg_btn .button:hover{
	background-color: #35C4FF;
	border-color: #35C4FF;
}
.com_btn_group{
	margin-top: 20px;
}
.com_btn_group .button {
    padding: 18px 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: transparent;
    height: 60px;
    width: 166px;
}
.com_btn_group .button img{
	margin-right: 10px;
}
.com_btn_group .button:hover{
	background-color: #35C4FF;
	border-color: #35C4FF;
}
.com_btn_group a:last-child{
	margin-left: 16px;
}
/*end community area*/ 

/*start footer area*/
.footer_wrapper{
	padding-top: 70px;
}
.footer_box_wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer_content p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #777E90;
    max-width: 300px;
    padding-top: 10px;
}
.footer_social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 15px;
}
.footer_social a{
	font-size: 20px;
	color: #777E90;
	margin-right: 20px;
}
.footer_social a:last-child{
	margin-right: 0;
}
.footer_social a:hover{
	color: #35C4FF;
}
.footer_list_wrapper h5{
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #23262F;
	padding-bottom: 20px;
}
.footer_list li{
	line-height: 1;
	padding-bottom: 15px;
}
.footer_list li a{
	font-weight: 500;
	font-size: 14px;
	line-height: 0;
	color: #777E90;
	display: inline-block;
	
}
.footer_list li a:hover{
	color: #35C4FF;
}
.footer_list li:last-child{
	padding-bottom: 0;
}
.footer_list li a i{
	padding-right: 10px;
}
.footer_last_text{
	text-align: center;
	padding: 25px 0;
	margin-top: 15px;
}
.footer_last_text p{
	font-size: 12px;
	line-height: 1.2;
	color: #777E91;
}
/*return-to-top START CSS*/

.back-to-top {
	font-size: 24px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: none;
	position: fixed;
	bottom: 30px;
	right: 20px;
	border-radius: 50%;
	background: #35C4FF;
	z-index: 1000;
}

.back-to-top i {
	color: #fff;
}
