.connect-wallet-btn {
    width: 153px;
    height: 52px;
    background: #35C4FF;
    border: 0px;
    border-radius: 90px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FCFCFD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1px;
}

@media(max-width:768px){
    .connect-wallet-btn {
        width: 120px;
        height: 30px;
        font-size: 12px;
        padding-left:10px;
        padding-right:10px;
    }
}
