.navbar {
    height: 93px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    font-family: Inter;
    padding: 0 70px;
    align-items: center;
}

@media(max-width:768px) {
    .navbar {
        padding: 0 20px;
        justify-content: space-around;
    }
}

.nav-link,
.navbar-brand {
    color: #000000;
    cursor: pointer;   
}

.navbar-brand{
    border-right: 1px solid #e6e8ec;
    padding-right: 60px;
}

@media(max-width:768px) {
    .navbar-brand{
        border-right: 0px;
    }
}
@media(max-width:325px) {
    .navbar-brand{
        padding-right: 10px;
    }
}

.nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: left;
}


.network-logo{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.network-dropdown .dropdown-item{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
.navbar-toggler-md{
    display:none;
}
@media(max-width:1028px){
    .network-dropdown{
        display: none !important;
    }    
    .navbar-toggler-md{
        display:block !important;
    }
}

.network-dropdown-body{
    background: #f4e6ea;
    border: 1px solid #e1b5c1;
}
.header-switch-network-btn{
    background-color: transparent !important;
    color: #000000 !important;
    border:0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.header-switch-network-btn:focus{
    box-shadow: none !important;
    color: #777E91;
}

.notification-btn, .search-btn{
    background-color: transparent;
    color: #777E91;
    border:0px;
    font-size: 22px;
    padding: 0px 10px;
}

.notification-btn:hover, .search-btn:hover{
    background-color: transparent;
    color: black;
    
}

.notification-btn:focus, .search-btn:focus{
    box-shadow: none;
}
